.main{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: 100%;
}

.required{
    color: rgb(196, 8, 8);
    font-size: 20px;
}